[Desktop Entry]
Name=Org-Protocol
Exec=/home/russ/.local/bin/org-protocol %u
Icon=emacs-icon
Type=Application
Terminal=false
MimeType=x-scheme-handler/org-protocol
