nvim/.config/nvim/vim-plugins/
nvim/.config/nvim/plugins/
nvim/.config/nvim/.net*
before_upgrade.txt
nvim/.config/nvim/shada/
nvim/.config/nvim/autoload/*
nvim/.config/nvim/ftplugin/*
nvim/.config/nvim/.init.vim*
.DS_Store
*~
zsh/secrets.zsh
zsh/.zsh_plugins.sh


tmux-client-*.log
emacs/.doom.d/+private.el
grid
