nvim/vim-plugins/
nvim/plugins/
nvim/.net*
before_upgrade.txt
nvim/shada/
flows
nvim/init.vim
nvim/autoload/*
nvim/ftplugin/*
nvim/.init.vim*
.DS_Store
*~
zsh/secrets.zsh

emacs.d/recentf
emacs.d/projectile-*
emacs.d/server
emacs.d/history
emacs.d/elpa
emacs.d/auto-save-list