[Unit]
Description=yodo server

[Service]
Type=simple
WorkingDirectory=/home/russ
ExecStart=/home/russ/russmatney/yodo/start.sh
Restart=on-failure

[Install]
WantedBy=graphical.target
