
xset r rate 170 50

# detect based on hostname?
# /home/russ/.local/bin/set-monitor-config laptop-hr

secrets=$HOME/.secrets
. $secrets

# add fennel to the path that awm uses
export PATH="$PATH:/home/russ/.luaver/luarocks/3.3.1_5.3/bin/"

dropbox &
