[Unit]
Description=doctor topbar app

[Service]
Type=simple
ExecStart=bb --config /home/russ/russmatney/clawe/bb.edn topbar
Restart=on-failure

[Install]
WantedBy=graphical.target
