[Unit]
Description=doctor topbar app

[Service]
Type=simple
WorkingDirectory=/home/russ/russmatney/doctor
ExecStart=/home/russ/russmatney/doctor/start-doctor-topbar-electron.sh
Restart=on-failure

[Install]
WantedBy=graphical.target
