[Unit]
Description=doctor frontend

[Service]
Type=simple
ExecStart=bb --config /home/russ/russmatney/clawe/bb.edn doctor-fe
Restart=on-failure

[Install]
WantedBy=graphical.target
