[Unit]
Description=doctor dock app

[Service]
Type=simple
WorkingDirectory=/home/russ/russmatney/doctor
ExecStart=/home/russ/russmatney/doctor/start-doctor-dock-electron.sh
Restart=on-failure

[Install]
WantedBy=graphical.target
